@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";

    var personelAdSoyad = ViewBag.PersonelAdSoyad as string;
    var personelId = ViewBag.PersonelId as int?;
    var personelBirimId = ViewBag.PersonelBirimId as int?;
    var personelYetkiTurID = ViewBag.PersonelYetkiTurID as int?;
}

<h1>Index</h1>


<p>Personel Ad Soyad: @personelAdSoyad</p>
<p>Personel ID: @personelId</p>
<p>Birim ID: @personelBirimId</p>
<p>Yetki Tür ID: @personelYetkiTurID</p>
