@{
    ViewData["Title"] = "Yap";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<div class="container mt-5">
    @foreach (var i in ViewBag.isler)
    {
        @using (Html.BeginForm("Yap", "Calisan", FormMethod.Post))
        {
            <div class="card">
                <div class="card-header text-center">
                    @i.IsBaslik
                </div>
                <div class="card-header text-body">
                    İş Açıklama: @i.IsAciklama
                    <div class="mb-3">
                        <label for="isYorum" class="form-label">Yorum Giriniz</label>
                        <input type="text" class="form-control" name="isYorum" />
                    </div>
                    <div class="mb-3">
                        <label for="tahminiSureSaat" class="form-label">Tahmini Süre (Saat)</label>
                        <input type="number" class="form-control" name="tahminiSureSaat" min="0" step="1" placeholder="Saat" />
                    </div>
                    <div class="mb-3">
                        <label for="tahminiSureDakika" class="form-label">Tahmini Süre (Dakika)</label>
                        <input type="number" class="form-control" name="tahminiSureDakika" min="0" max="59" step="1" placeholder="Dakika" />
                    </div>
                    <input type="hidden" name="isId" value="@i.IsId" />
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Tamamla</button>
                </div>
                <br />
            </div>
        }
    }
</div>
