@{
    ViewData["Title"] = "Yap";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<div class="container mt-5">
    @foreach (var i in ViewBag.isler)
    {
        @using (Html.BeginForm("Yap", "Calisan", FormMethod.Post))
        {
            <div class="card"> 
                <div class="card-header text-center">
                    @i.IsBaslik
                </div>
                <div class="card-header text-body">
                   İş Açıklama: @i.IsAciklama
                    <div class="mb-3">
                       <label for="isYorum" class="form-label">Yorum Giriniz</label>
                       <input type="text" class="form-control" name="isYorum"/>
                    </div>
                    <input type="hidden" name="isId" value="@i.IsId" />
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Tamamla</button>
                </div>
                <br/>
            </div>
        }
    }
</div>
